<article class="post">
    <div class="title">
        <span class="user-id"><i class="bi bi-person-circle"></i> {{user.username}} posted on {{ format_date
            created_at}}</span> <br>
        <a href="/post/{{id}}">{{title}}

        </a>
        <p class="post-body">{{body}}</p>


    </div>
    <div class="meta">
        <a href="/post/{{id}}"><i class="bi bi-chat-square-fill"></i> {{comments.length}} {{format_plural "comment"
            comments.length}}</a>
    </div>
</article>